html{
  height: 100%;
}
body{
  margin-bottom: 0px;
}
/* LANDING PAGE STYLES */
#Workout{
  background-color: #385623;
  height: 50vh;
  text-align: center;
  color: white;
}
#Sleep{
  background-color: #1F4E79;
  height: 50vh;
  text-align: center;
  color: white;
}
/* WORKOUT SELECTOR PAGE STYLES */
.WorkoutDay{
  height: 22.5vh;
  text-align: center;
}
#Legs{
  background-color: #8B0705;
  opacity: 0;
  animation-name: SlideLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
#Push{
  background-color: #385623;
  opacity: 0;
  animation-name: SlideLeft;
  animation-duration: 0.5s;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}
#Pull{
  background-color: #1F4E79;
  opacity: 0;
  animation-name: SlideLeft;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
#Back{
  background-color: #525252;
  opacity: 0;
  animation-name: SlideLeft;
  animation-duration: 0.5s;
  animation-delay: 0.45s;
  animation-fill-mode: forwards;
}
/* WORKOUT INPUT STYLES */
.formPage{
  text-align: center;
  font-size: 12px;
}
.legsForm{
  background-color: #8B0705;
}
.pushForm{
  background-color: #385623;
  animation-name: FadeRedGreen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.pullForm{
  background-color: #1F4E79;
  animation-name: FadeRedBlue;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.backForm{
  background-color: #525252;
  animation-name: FadeRedGrey;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#formTop{
  height: 25vh;
  color: white;
}
#formBottom{
  padding-top: 4vh;
  height: 75vh;
  opacity: 0;
  animation-name: SlideLeft;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
.dateInput{
  text-align: center;
}
.Weights{
  text-align: right;
  padding-right: 20%;
}
/* BUTTON STYLES */
.btn-outline-secondary{
  border-color: white;
  color: white;
  border-radius: 5px;
}
.btn-outline-secondary:hover{
  background-color: white;
  border-color: white;
  color: black;
}
.homebtn{
  margin-top: 20vh;
  font-size: 6vh;
}
.workoutbtn{
  margin-top: 8vh;
  font-size: 3vh;
}
/* ANIMATIONS */
@keyframes SlideDown {
  from {
    opacity:0;
    transform: translate3d(0,-100%,0);
  }
  to  {
    opacity:1;
    transform: none;
  }
}
@keyframes SlideLeft {
  from {
    opacity:0;
    transform: translate3d(100%,0,0);
  }
  to  {
    opacity:1;
    transform: none;
  }
}
@keyframes SlideRight {
  from {
    opacity:0;
    transform: translate3d(-100%,0,0);
  }
  to  {
    opacity:1;
    transform: none;
  }
}
@keyframes FadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes FadeRedGreen {
  from{ background-color: #8B0705}
  to{ background-color: #385623}
}
@keyframes FadeRedBlue {
  from{ background-color: #8B0705}
  to{ background-color: #1F4E79}
}
@keyframes FadeRedGrey {
  from{ background-color: #8B0705}
  to{ background-color: #525252}
}
