/* || GENERAL PAGE STYLES */ 
html{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
body{
    margin-bottom: 0px;
}
input{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
p{
    margin-bottom: 0;
    display: inline;
}
.eightpx_spacer{
    height: 8px;
}

/* || WORKOUT SELECTOR PAGE STYLES */

.workout-selector{
        /* Block Shape */
        padding-top: 8px;
        border-radius: 5px;
        height:  50px;
        /* Block Styling */
        color: white;
}

/* Input Page Headers */
.workoutDay_header{
    text-align: center;
    padding-top: 30px;
} 
.weight_input{
    width: 70px;
}
/* || INPUT BLOCK STYLES */

/* General Block Styles */
.input_block{
    /* Block Shape */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 15px;
    border-width: 3px;
    /* Block Styling */
    text-align: center;
    border-style: solid;
}
.block_header{
    /* Block Shape */
    padding-top: 8px;
    border-radius: 5px;
    height: 35px;
    /* Block Styling */
    color: white;
}
.input_button{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-primary{
    background-color: white;
    border-width: 3px;
}
.form-control{
    width: 70px;
    text-align: center;
    display: inline;
}
/* Button Styles */
.btn-pull{
    color: #1F4E79;
    border-color: #1F4E79;
}
.btn-pull:hover{
    background-color: #1F4E79;
    border-color: #1F4E79;
}
.btn-push{
    color: #8B0705;
    border-color: #8B0705;
}
.btn-push:hover{
    background-color: #8B0705;
    border-color: #8B0705;
}
.btn-leg{
    color: #385623;
    border-color: #385623;
}
.btn-leg:hover{
    background-color: #385623;
    border-color: #385623;
}
.btn-back{
    color: #525252;
    border-color: #525252;
}
.btn-back:hover{
    background-color: #525252;
    border-color: #525252;
}
.btn-other{
    color: black;
    border-color: black;
}
.btn-other:hover{
    background-color: black;
    border-color: black;
}
/* Pull Exercise Block Styles */
#warmupCals_block-pull{
    border-color: #1F4E79;
}
#warmupCals_header-pull{
    background-color: #1F4E79;
}
#boRow_block{
    border-color: #042848;
}
#boRow_header{
    background-color: #042848;
}
#Shrug_block{
    border-color: #103C63;
}
#Shrug_header{
    background-color: #103C63;
}
#seatRow_block{
    border-color: #35628B;
}
#seatRow_header{
    background-color: #35628B;
}
#latPD_block{
    border-color: #557DA1;
}
#latPD_header{
    background-color: #557DA1;
}
#facePull_block{
    border-color: #35628B;
}
#facePull_header{
    background-color: #35628B;
}
#rowMachine_block{
    border-color: #103C63;
}
#rowMachine_header{
    background-color: #103C63;
}
#coolCals_block-pull{
    border-color: #042848;
}
#coolCals_header-pull{
    background-color: #042848;
}
/* Push Exercise Block Styles */
#warmupCals_block-push{
    border-color: #8B0705;
}
#warmupCals_header-push{
    background-color: #8B0705;
}
#iBench_block{
    border-color: #3C0200;
}
#iBench_header{
    background-color: #3C0200;
}
#Fly_block{
    border-color: #650300;
}
#Fly_header{
    background-color: #650300;
}
#fCurl_block{
    border-color: #AB201D;
}
#fCurl_header{
    background-color: #AB201D;
}
#latRaise_block{
    border-color: #CB413D;
}
#latRaise_header{
    background-color: #CB413D;
}
#frontRaise_block{
    border-color: #AB201D;
}
#frontRaise_header{
    background-color: #AB201D;
}
#OHP_block{
    border-color: #650300;
}
#OHP_header{
    background-color: #650300;
}
#coolCals_block-push{
    border-color: #3C0200;
}
#coolCals_header-push{
    background-color: #3C0200;
}

/* Leg Exercise Block Styles */
#warmupCals_block-leg{
    border-color: #385623;
}
#warmupCals_header-leg{
    background-color: #385623;
}
#bSquat_block{
    border-color: #1B3508;
}
#bSquat_header{
    background-color: #1B3508;
}
#fSquat_block{
    border-color: #2A4815;
}
#fSquat_header{
    background-color: #2A4815;
}
#Lunge_block{
    border-color: #455E34;
}
#Lunge_header{
    background-color: #455E34;
}
#calfRaise_block{
    border-color: #64824F;
}
#calfRaise_header{
    background-color: #64824F;
}
#legExt_block{
    border-color: #455E34;
}
#legExt_header{
    background-color: #455E34;
}
#hCurl_block{
    border-color: #2A4815;
}
#hCurl_header{
    background-color: #2A4815;
}
#coolCals_block-leg{
    border-color: #1B3508;
}
#coolCals_header-leg{
    background-color: #1B3508;
}

/* Back Exercise Block Styles */
#warmupCals_block-back{
    border-color: #525252;
}
#warmupCals_header-back{
    background-color: #525252;
}
#dLift_block{
    border-color: #020202;
}
#dLift_header{
    background-color: #020202;
}
#backExt_block{
    border-color: #1F1F1F;
}
#backExt_header{
    background-color: #1F1F1F;
}
#Plank_block{
    border-color: #797979;
}
#Plank_header{
    background-color: #797979;
}
#sidePlank_block{
    border-color: #9E9E9E;
}
#sidePlank_header{
    background-color: #9E9E9E;
}
#sKick_block{
    border-color: #797979;
}
#sKick_header{
    background-color: #797979;
}
#mTwist_block{
    border-color: #1F1F1F;
}
#mTwist_header{
    background-color: #1F1F1F;
}
#coolCals_block-back{
    border-color: #020202;
}
#coolCals_header-back{
    background-color: #020202;
}

/* Other Exercise Styles */
#warmupCals_block-other{ 
    border-color: black;
}
#warmupCals_header-other{
    background-color: black;
}

